#WelcomeContent{
  height: auto;
  width: auto;
  background-color: #008066;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: right;
  padding: 50px 10%;
}

#WelcomeContent img{
  display: flex;
  max-height: 350px;
  width: auto;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 0 5px 0 #000;  
}

#WelcomeText{
  padding: 0 0 0 30px;
  margin: 0;
}

#WelcomeText h2{
  color: #ffff;
  font-size: 48px;
  padding: 0 0 15px 0;
  margin: 0;
}

#WelcomeText a{
  padding: 10px 20px;
  background-color: #ffff;
  border-radius: 50px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #003D30;
  transition: all 0.3s ease;
}

#WelcomeText a:hover{
  background-color: #003D30;
  box-shadow: 0 0 5px 0 #000;
  color: #ffff;
  transition: all 0.3s ease;

}

#splitContent{
  display: flex;
  justify-content: space-between;
  background-color: #003D30;
  height: auto;
  width: auto;
  padding: 50px 10%;
}

.container{
  color: #ffff;
  display: block;
  align-items: center;
  height: auto;
  width: 30%;
  margin: 0;
}

.container h3{
  text-align: left;
  font-size: 24px;
  margin: 16px 0 8px 0;
}

.container p{
  padding: 0;
  margin: 0;
}

.imgcontainer{
  position: relative;
  height: 250px;
  width: auto;
  border-radius: 20px;
}

.imgcontainer a img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.imgcontainer a img:hover{
  box-shadow: 0 0 20px 0 #008066;
  transition: all 0.3s ease;
}

#awards{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: auto;
  width: auto;
  margin: 0;
  padding: 50px 10%;
}

#awards h2{
  margin:  20px 0;
  padding: 0;
  text-decoration: underline;
}

#awards img{
  max-height: 900px;
  width: auto;
  object-fit: contain;
}

@media (max-width: 960px){
  #WelcomeContent{
    display: block;
    padding: 30px 10%;
    text-align: left;
  }

  #WelcomeContent img{
      display: block;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      margin: auto; 
  }

  #WelcomeText {
      padding: 20px 0 5px 0;
      margin: 0;
  }
}

@media (max-width: 900px){

  #WelcomeContent{
  padding: 30px 5%;
  }

  #splitContent{
    flex-direction: column;
    padding: 5% 5%;
  }

  .container{
      width: 100%;
      margin: 30px 0;
  }

}
