.container{
    background-color: #008066;
    height: 20rem;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    font-size: 24px;
    padding: 50px 10%;
}

.textHolder{
    margin: 0;
    padding: 30px 10%; 
  }