#banner{
    background-image: url(../../../public/Images/Study_banner.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    padding: 0 10%;
    font-size: 32px;
    text-align: center;
    color: #ffff;
}

#banner h2{
    background-color: #003D30;
    padding: 10px 20px;
}

.heading{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    width: auto;
    margin: 0;
    padding: 50px 10% 0 10%;
  }

.heading h2{
    margin:  0;
    padding: 0;
    text-decoration: underline;
  }

#splitContent{
  display: flex;
  justify-content: space-between;
  background-color: #008066;
  height: auto;
  width: auto;
  padding: 50px 10%;
}

.container{
  color: #ffff;
  display: block;
  align-items: center;
  height: auto;
  width: 31%;
  margin: 0;
}

.courseLink{
  color: #000000;
  text-decoration: none;
}

.courseLink:hover{
  text-decoration: underline;
}

.container h3{
  text-align: left;
  font-size: 24px;
  margin: 16px 0 8px 0;
}

.container p{
  padding: 0;
  margin: 0;
}

.imgcontainer{
  position: relative;
  height: 250px;
  width: auto;
  border-radius: 20px;
}

.imgcontainer a img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.imgcontainer a img:hover{
  box-shadow: 0 0 20px 0 #003D30;
  transition: all 0.3s ease;
}  

.courseContainer{
    margin: 0;
    padding: 30px 10%;
}

.courseContainer ul{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.courseContainer ul li{
    margin: 0 0 30px 0;
    padding: 0;
}

.courseContainer ul li h3{
    margin: 0;
    padding: 0;
}

.courseContainer ul li p{
    margin: 5px 0 10px 0;
    padding: 0;
}

.courseContainer ul li p.courseType{
    cursor: default;
    display: inline-flex;
    height: 35px;
    width: 130px;
    background-color: #003D30;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #ffff;
    margin: 0 10px 0 0;
}

.courseContainer ul li p.info{
    cursor: default;
    display: inline-flex;
    height: 35px;
    width: 100px;
    background-color: #e3e3e3;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #003D30;
    margin: 0 10px 0 0;
}

@media (max-width: 950px){

  #splitContent{
    flex-direction: column;
    padding: 5% 5%;
  }

  .container{
      width: 100%;
      margin: 30px 0;
  }

  .courseContainer ul li p.courseType{
    margin: 0 10px 10px 0;
  }

}